<ion-header>
  <ion-navbar color="primary" >

    <ion-title style="margin-left: -60px" >Human Resource</ion-title>



    <ion-buttons end style="margin-right: 30px">


      <button ion-button  icon-only (click)="clickFileInput()">
          <ion-icon name="document"></ion-icon>
        <input #fileUpload id="selectedFile" type="file" (change)="fileChange($event)" ng2FileSelect
               [uploader]="uploader" multiple style="display: none;">
        <!--<input type="file" id="selectedFile" (change)="fileChange($event)"  accept=".pdf" style="display: none">-->
      </button>

    </ion-buttons>
    <ion-buttons end style="margin-right: 25px">
      <button ion-button  icon-only (click)="openPdf(task_info['infoFile'])">
        <ion-icon name="information-circle"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end style="margin-right: 20px">
      <button ion-button icon-only  (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>

    </ion-buttons>
  </ion-navbar>
  <ion-toolbar >
    <ion-segment [(ngModel)]="tabs" item-start (ionChange)="onTabChange()">
      <ion-segment-button [value]="tab" *ngFor="let tab of parameters.tabs_value">
        {{ tab.toUpperCase()}}
      </ion-segment-button>

    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div >
  <ion-grid>
    <ion-row style="border-bottom-width: 1px" *ngFor="let employee of employees[tabs]">
      <ion-col col-1></ion-col>
      <ion-col col-4>
        <ion-item>
            <ion-avatar item-start>
              <img src={{employee.url}}>
            </ion-avatar>
            <h2>{{employee.employeeName}} </h2>
            <h3>{{employee.title}} </h3>
            <p>Minimum Salary :{{employee.minimumSalary}} </p>
        </ion-item>

      </ion-col>
      <ion-col col-1>
        <ion-buttons end >
          <button ion-button  clear icon-only (click)="openPdf(employee.resume)" style="padding-top:20px">
            <ion-icon name="information-circle"></ion-icon>
          </button>
        </ion-buttons>
      </ion-col>
      <ion-col col-2>
        <ion-input type="text" [placeholder]="employee.salaryOffer_t" [(ngModel)]="employee.salaryOffer_t" disabled style="padding-top:20px">
        </ion-input>
      </ion-col>
      <ion-col col-4 >
        <ion-range pin="true" snaps="true" [(ngModel)]="employee.salaryOffer" [min]="employee.minimumSalary" [max]="employee.minimumSalary*2" step="10000" (ionChange)="onChange(employee)" style="padding-top:20px">
        <ion-icon range-left small name="remove"></ion-icon>
        <ion-icon range-right name="add"></ion-icon>

      </ion-range>
      </ion-col>
    </ion-row>


  </ion-grid>

  </div>



</ion-content>
<ion-footer>
  <ion-buttons style="margin-right: 90px;margin-bottom: 6px" end>
    <button ion-button color="primary" (click)="submit()">Submit</button>
  </ion-buttons>
</ion-footer>
