<ion-header>
  <ion-navbar color="primary" >

    <ion-title style="margin-left: -60px" >Workforce</ion-title>
    <ion-buttons end style="margin-right: 30px">
      <button ion-button  icon-only (click)="clickFileInput()">
          <ion-icon name="document"></ion-icon>
        <input #fileUpload id="selectedFile" type="file" (change)="fileChange($event)" ng2FileSelect
               [uploader]="uploader" multiple style="display: none;">
        <!--<input type="file" id="selectedFile" (change)="fileChange($event)"  accept=".pdf" style="display: none">-->
      </button>

    </ion-buttons>
    <ion-buttons end style="margin-right: 25px">
      <button ion-button  icon-only (click)="openPdf(task_info['infoFile'])">
        <ion-icon name="information-circle"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end style="margin-right: 20px">
      <button ion-button icon-only  (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>

    </ion-buttons>
  </ion-navbar>
  <ion-toolbar >
    <ion-segment [(ngModel)]="tabs" item-start (ionChange)="onTabChange()">
      <ion-segment-button [value]="tab" *ngFor="let tab of parameters.tabs_value">
        {{ tab.toUpperCase()}}
      </ion-segment-button>
      <ion-segment-button value="summary">
        SUMMARY
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid *ngIf="tabs!='summary'">
    <ion-row>

      <ion-col col-3>
      </ion-col>
      <ion-col col-3>
        <label text-center>
          <h3> Core </h3>
        </label>
      </ion-col>
      <ion-col col-3>
        <label text-center>
          <h3> Contingency </h3>
        </label>
      </ion-col>
      <ion-col col-3>
        <label text-center>
          <h3> Total </h3>
        </label>
      </ion-col>
    </ion-row>
    <ion-row>

      <ion-col col-3>
        <label text-center><h4>
          Niches at start of Period :
        </h4>
        </label>
      </ion-col>
      <ion-col col-3>
        <ion-item text-center>
          <h2>{{workforce[tabs].valueatstart_core}} </h2>
        </ion-item>
      </ion-col>
      <ion-col col-3>
        <ion-item text-center>
          <h2>{{workforce[tabs].valueatstart_contract}} </h2>
        </ion-item>
      </ion-col>
      <ion-col col-3 >
        <ion-item text-center>
          <h2>{{workforce[tabs].valueatstart_total}} </h2>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-3>
        <label text-center><h4>
          Size recommended by HR :
        </h4>
        </label>
      </ion-col>
      <ion-col col-3>
        <ion-item text-center>
          <h2>{{workforce[tabs].recommended_core}} </h2>
        </ion-item>
      </ion-col>
      <ion-col col-3>
        <ion-item text-center>
          <h2>{{workforce[tabs].recommended_contract}} </h2>
        </ion-item>
      </ion-col>
      <ion-col col-3 >
        <ion-item text-center>
          <h2>{{workforce[tabs].recommended_total}} </h2>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-3>
        <label text-center><h4>
          Adjustment to Niches :
        </h4>
        </label>
      </ion-col>
      <ion-col col-3>
        <ion-range  pin="true"  [(ngModel)]="workforce[tabs].adjustment_core" min="-1000" max="1000"  (ionChange)="onChange(workforce[tabs])" style="padding-top:20px">

        </ion-range>
      </ion-col>
      <ion-col col-3>
        <ion-range pin="true"  [(ngModel)]="workforce[tabs].adjustment_contract" min="-1000" max="1000"(ionChange)="onChange(workforce[tabs])" style="padding-top:20px">
        </ion-range>
      </ion-col>
      <ion-col col-3>
        <ion-item text-center>
          <h2>{{workforce[tabs].adjustment_total}} </h2>
        </ion-item>
      </ion-col>
    </ion-row>
<ion-item-divider></ion-item-divider>
    <ion-row>
      <ion-col col-3>
        <label text-center><h4>
          Adjusted Niches :
        </h4>
        </label>
      </ion-col>
      <ion-col col-3>
        <ion-item text-center>
          <h2>{{workforce[tabs].adjustedworkforce_core}} </h2>
        </ion-item>
      </ion-col>
      <ion-col col-3>
        <ion-item text-center>
          <h2>{{workforce[tabs].adjustedworkforce_contract}} </h2>
        </ion-item>
      </ion-col>
      <ion-col col-3>
        <ion-item text-center>
          <h2>{{workforce[tabs].adjustedworkforce_total}} </h2>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-3>
        <label text-center><h4>
          Cost of Niches Adjustment :
        </h4>
        </label>
      </ion-col>
      <ion-col col-3>
        <ion-item text-center>
          <h2>{{workforce[tabs].adjustmentcost_core}} </h2>
        </ion-item>
      </ion-col>
      <ion-col col-3>
        <ion-item text-center>
          <h2>{{workforce[tabs].adjustmentcost_contract}} </h2>
        </ion-item>
      </ion-col>
      <ion-col col-3>
        <ion-item text-center>
          <h2>{{workforce[tabs].adjustmentcost_total}} </h2>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-3>
        <label text-center><h4>
          Business Function Wages :
        </h4>
        </label>
      </ion-col>
      <ion-col col-3>
        <ion-item text-center>
          <h2>{{workforce[tabs].adjustwages_core}} </h2>
        </ion-item>
      </ion-col>
      <ion-col col-3>
        <ion-item text-center>
          <h2>{{workforce[tabs].adjustwages_contract}} </h2>
        </ion-item>
      </ion-col>
      <ion-col col-3>
        <ion-item text-center>
          <h2>{{workforce[tabs].adjustwages_total}} </h2>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-3>
        <label text-center><h4>
          Calculated Expenses :
        </h4>
        </label>
      </ion-col>
      <ion-col col-3>
        <ion-item text-center>
          <h2>{{workforce[tabs].adjustexpenses_core}} </h2>
        </ion-item>
      </ion-col>
      <ion-col col-3>
        <ion-item text-center>
          <h2>{{workforce[tabs].adjustexpenses_contract}} </h2>
        </ion-item>
      </ion-col>
      <ion-col col-3 >
        <ion-item text-center>
          <h2>{{workforce[tabs].adjustexpenses_total}} </h2>
        </ion-item>
      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-grid *ngIf="tabs=='summary'">

    <ion-row *ngFor="let tab of parameters.tabs_value">
      <ion-col col-2></ion-col>

      <ion-col col-4>
        <label text-start><h4>
          {{workforce[tab].functions}}
        </h4></label>

      </ion-col>
      <ion-col col-4>
        <ion-item text-end>
          <h2>{{workforce[tab].workforcecost_total}} </h2>
        </ion-item>
      </ion-col>
      <ion-col col-2>

      </ion-col>
    </ion-row>



  </ion-grid>


</ion-content>
<ion-footer>
  <ion-buttons style="margin-right: 90px;margin-bottom: 6px" end>
    <button ion-button color="primary" (click)="submit()">Submit</button>
  </ion-buttons>
</ion-footer>
