<ion-header>
  <ion-navbar color="primary" >

    <ion-title style="margin-left: -60px" >Discretionary Expenditure</ion-title>
    <ion-buttons end style="margin-right: 30px">
      <button ion-button  icon-only (click)="clickFileInput()">
          <ion-icon name="document"></ion-icon>
        <input #fileUpload id="selectedFile" type="file" (change)="fileChange($event)" ng2FileSelect
               [uploader]="uploader" multiple style="display: none;">
        <!--<input type="file" id="selectedFile" (change)="fileChange($event)"  accept=".pdf" style="display: none">-->
      </button>

    </ion-buttons>
    <ion-buttons end style="margin-right: 25px">
      <button ion-button  icon-only (click)="openPdf(task_info['infoFile'])">
        <ion-icon name="information-circle"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end style="margin-right: 20px">
      <button ion-button icon-only  (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>

    </ion-buttons>
  </ion-navbar>
  <ion-toolbar >
    <ion-segment [(ngModel)]="tabs" item-start (ionChange)="onTabChange()"  >
      <ion-segment-button [value]="tab" *ngFor="let tab of parameters.tabs_value">
        {{ tab.toUpperCase()}}
      </ion-segment-button>

    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid *ngIf="task_info.companyName=='LegacyCo '">

    <ion-row>
      <ion-col col-3 text-center>
          <ion-label  style="margin-top:23px"><h5> Advertising :</h5></ion-label>
      </ion-col>
      <ion-col col-3>
        <ion-item>
            <ion-label color="primary" floating>Rev.A</ion-label>
            <ion-input [(ngModel)]="acc_budgets.B2B_AA" type="number" min="1000000" step="1000000" (ionChange)="onChange()"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-3>
        <ion-item>
          <ion-label color="primary" floating>Rev.B</ion-label>
          <ion-input [(ngModel)]="acc_budgets.B2C_AA" type="number" min="1000000" step="1000000" (ionChange)="onChange()"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-3>
        <ion-item style="margin-top:23px">
          <ion-label>Total</ion-label>
          <ion-input  [(ngModel)]="acc_budgets.total_AA"   readonly></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-3 text-center>
        <ion-label  style="margin-top:23px"><h5> Salesforce :</h5></ion-label>
      </ion-col>
      <ion-col col-3>
        <ion-item>
          <ion-label color="primary" floating>Rev.A</ion-label>
          <ion-input [(ngModel)]="acc_budgets.B2B_DM" type="number" min="1000000" step="1000000" (ionChange)="onChange()"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-3>
        <ion-item>
          <ion-label color="primary" floating>Rev.B</ion-label>
          <ion-input [(ngModel)]="acc_budgets.B2C_DM" type="number" min="1000000" step="1000000" (ionChange)="onChange()"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-3>
        <ion-item style="margin-top:23px">
          <ion-label>Total</ion-label>
          <ion-input  [(ngModel)]="acc_budgets.total_DM"   readonly></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-3 text-center>
        <ion-label  style="margin-top:23px"><h5> Social Media :</h5></ion-label>
      </ion-col>
      <ion-col col-3>
        <ion-item>
          <ion-label color="primary" floating>Rev.A</ion-label>
          <ion-input [(ngModel)]="acc_budgets.B2B_PD" type="number" min="1000000" step="1000000" (ionChange)="onChange()"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-3>
        <ion-item>
          <ion-label color="primary" floating>Rev.B</ion-label>
          <ion-input [(ngModel)]="acc_budgets.B2C_PD" type="number" min="1000000" step="1000000" (ionChange)="onChange()"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-3>
        <ion-item style="margin-top:23px">
          <ion-label>Total</ion-label>
          <ion-input  [(ngModel)]="acc_budgets.total_PD"   readonly></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-3 text-center>
        <ion-label  style="margin-top:23px"><h5> Totals :</h5></ion-label>
      </ion-col>
      <ion-col col-3>
        <ion-item>
          <ion-label color="primary" floating>Rev.A</ion-label>
          <ion-input [(ngModel)]="acc_budgets.B2B_total" readonly></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-3>
        <ion-item>
          <ion-label color="primary" floating>Rev.B</ion-label>
          <ion-input [(ngModel)]="acc_budgets.B2C_total" readonly></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-3>
        <ion-item style="margin-top:23px">
          <ion-label>Total</ion-label>
          <ion-input  [(ngModel)]="acc_budgets.total_total"   readonly></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>


  </ion-grid>
  <ion-grid *ngIf="task_info.companyName=='NewCo'">

    <ion-row>
      <ion-col col-3 text-center>
        <ion-label  style="margin-top:23px"><h5> Advertising :</h5></ion-label>
      </ion-col>
      <ion-col col-2>
        <ion-item>
          <ion-label color="primary" floating>Niche#1</ion-label>
          <ion-input [(ngModel)]="acc_budgets.Niche1_AA" type="number" min="1000000" step="1000000" (ionChange)="onChange()"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-2>
        <ion-item>
          <ion-label color="primary" floating>Niche#2</ion-label>
          <ion-input [(ngModel)]="acc_budgets.Niche2_AA" type="number" min="1000000" step="1000000" (ionChange)="onChange()"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-2>
        <ion-item>
          <ion-label color="primary" floating>Niche#3 </ion-label>
          <ion-input [(ngModel)]="acc_budgets.Niche3_AA" type="number" min="1000000" step="1000000" (ionChange)="onChange()"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-3>
        <ion-item style="margin-top:23px">
          <ion-label>Total</ion-label>
          <ion-input  [(ngModel)]="acc_budgets.total_AA"   readonly></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-3 text-center>
        <ion-label  style="margin-top:23px"><h5> Salesforce :</h5></ion-label>
      </ion-col>
      <ion-col col-2>
        <ion-item>
          <ion-label color="primary" floating>Niche#1</ion-label>
          <ion-input [(ngModel)]="acc_budgets.Niche1_DM" type="number" min="1000000" step="1000000" (ionChange)="onChange()"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-2>
        <ion-item>
          <ion-label color="primary" floating>Niche#2</ion-label>
          <ion-input [(ngModel)]="acc_budgets.Niche2_DM" type="number" min="1000000" step="1000000" (ionChange)="onChange()"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-2>
        <ion-item>
          <ion-label color="primary" floating>Niche#3 </ion-label>
          <ion-input [(ngModel)]="acc_budgets.Niche3_DM" type="number" min="1000000" step="1000000" (ionChange)="onChange()"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-3>
        <ion-item style="margin-top:23px">
          <ion-label>Total</ion-label>
          <ion-input  [(ngModel)]="acc_budgets.total_DM"   readonly></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-3 text-center>
        <ion-label  style="margin-top:23px"><h5> Social Media :</h5></ion-label>
      </ion-col>
      <ion-col col-2>
        <ion-item>
          <ion-label color="primary" floating>Niche#1</ion-label>
          <ion-input [(ngModel)]="acc_budgets.Niche1_PD" type="number" min="1000000" step="1000000" (ionChange)="onChange()"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-2>
        <ion-item>
          <ion-label color="primary" floating>Niche#2</ion-label>
          <ion-input [(ngModel)]="acc_budgets.Niche2_PD" type="number" min="1000000" step="1000000" (ionChange)="onChange()"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-2>
        <ion-item>
          <ion-label color="primary" floating>Niche#3 </ion-label>
          <ion-input [(ngModel)]="acc_budgets.Niche3_PD" type="number" min="1000000" step="1000000" (ionChange)="onChange()"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-3>
        <ion-item style="margin-top:23px">
          <ion-label>Total</ion-label>
          <ion-input  [(ngModel)]="acc_budgets.total_PD"   readonly></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-3 text-center>
        <ion-label  style="margin-top:23px"><h5> Totals :</h5></ion-label>
      </ion-col>
      <ion-col col-2>
        <ion-item>
          <ion-label color="primary" floating>Niche#1</ion-label>
          <ion-input [(ngModel)]="acc_budgets.Niche1_total" readonly></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-2>
        <ion-item>
          <ion-label color="primary" floating>Niche#2</ion-label>
          <ion-input [(ngModel)]="acc_budgets.Niche2_total" readonly></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-2>
        <ion-item>
          <ion-label color="primary" floating>Niche#3</ion-label>
          <ion-input [(ngModel)]="acc_budgets.Niche3_total" readonly></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-3>
        <ion-item style="margin-top:23px">
          <ion-label>Total</ion-label>
          <ion-input  [(ngModel)]="acc_budgets.total_total"   readonly></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>


  </ion-grid>



</ion-content>
<ion-footer>
  <ion-buttons style="margin-right: 90px;margin-bottom: 6px" end>
    <button ion-button color="primary" (click)="submit()">Submit</button>
  </ion-buttons>
</ion-footer>
