<ion-header>
  <ion-navbar color="primary" >

    <ion-title style="margin-left: -60px" > Please Select The Niches </ion-title>
    <ion-buttons end style="margin-right: 30px">
      <button ion-button  icon-only (click)="clickFileInput()">
          <ion-icon name="document"></ion-icon>
        <input #fileUpload id="selectedFile" type="file" (change)="fileChange($event)" ng2FileSelect
               [uploader]="uploader" multiple style="display: none;">
        <!--<input type="file" id="selectedFile" (change)="fileChange($event)"  accept=".pdf" style="display: none">-->
      </button>

    </ion-buttons>
    <ion-buttons end style="margin-right: 25px">
      <button ion-button  icon-only (click)="openPdf(task_info['infoFile'])">
        <ion-icon name="information-circle"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end style="margin-right: 20px">
      <button ion-button icon-only  (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>

    </ion-buttons>
  </ion-navbar>
  <ion-toolbar >
    <ion-segment [(ngModel)]="tabs" item-start (ionChange)="onTabChange()"  >
      <ion-segment-button [value]="tab" *ngFor="let tab of parameters.tabs_value">
        {{ tab.toUpperCase()}}
      </ion-segment-button>

    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid >
    <ion-row >
      <ion-col col-4 text-center>
        <ion-label  style="margin-top:23px"><h5> </h5></ion-label>
      </ion-col>
      <ion-col col-2 *ngIf="niches[0].p4 != ''">
        <ion-item style="margin-top:23px">
          <ion-label >P4</ion-label>

        </ion-item>
      </ion-col>
      <ion-col col-2>
        <ion-item style="margin-top:23px">
          <ion-label>P5</ion-label>

        </ion-item>
      </ion-col>
      <ion-col col-2>
        <ion-item style="margin-top:23px">
          <ion-label>P6</ion-label>

        </ion-item>
      </ion-col>
      <ion-col col-2>
        <ion-item style="margin-top:23px">
          <ion-label>P7</ion-label>

        </ion-item>
      </ion-col>
      <ion-col col-2 *ngIf=false>
        <ion-item style="margin-top:23px">
          <ion-label>P8</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let niche of niches">
      <ion-col col-4 text-center>
          <ion-label  style="margin-top:23px"><h5> {{ niche.niche}}</h5></ion-label>
      </ion-col>

      <ion-col col-2 *ngIf="niche.p4 != ''">
        <ion-item style="margin-top:23px">
            <ion-checkbox [(ngModel)]="niche.p4.selected" (ionChange)="onChange()"></ion-checkbox>
        </ion-item>
      </ion-col>
      <ion-col col-2>
        <ion-item style="margin-top:23px">
          <ion-checkbox [(ngModel)]="niche.p5.selected" (ionChange)="onChange()"></ion-checkbox>
        </ion-item>
      </ion-col>
      <ion-col col-2>
        <ion-item style="margin-top:23px">
          <ion-checkbox  [(ngModel)]="niche.p6.selected" disabled  (ionChange)="onChange()"></ion-checkbox>
        </ion-item>
      </ion-col>
      <ion-col col-2>
        <ion-item style="margin-top:23px">
          <ion-checkbox  [(ngModel)]="niche.p7.selected"  disabled (ionChange)="onChange()"></ion-checkbox>
        </ion-item>
      </ion-col>
      <ion-col col-2 *ngIf=false>
        <ion-item style="margin-top:23px">
          <ion-checkbox  [(ngModel)]="niche.p8.selected"   (ionChange)="onChange()"></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>




  </ion-grid>




</ion-content>
<ion-footer>
  <ion-buttons style="margin-right: 90px;margin-bottom: 6px" end>
    <button ion-button color="primary" (click)="submit()">Submit</button>
  </ion-buttons>
</ion-footer>
