<ion-grid class="account-grid">
  <!--<ion-row style="height: 100%;">-->
    <!--<ion-col>-->
      <ion-card>

          <ion-row class="trow"  nowrap >
            <ion-col class="tcol" text-start>
              <span>ID</span>
            </ion-col>
            <ion-col col-4 class="tcol" text-start >
              <span>Description</span>
            </ion-col>
            <ion-col class="tcol" text-center >
              <span>PeriodPre2</span>
            </ion-col>
            <ion-col class="tcol" text-center >
              <span>PeriodPre1</span>
            </ion-col>
            <ion-col class="tcol" text-center>
              <span>Period1</span>
            </ion-col>
            <ion-col class="tcol" text-center>
              <span>Period2</span>
            </ion-col>
            <ion-col class="tcol" text-center>
              <span>Period3</span>
            </ion-col>
            <ion-col class="tcol" text-center >
              <span>Period4</span>
            </ion-col>
            <ion-col class="tcol" text-center >
              <span>Period5</span>
            </ion-col>
            <ion-col class="tcol" text-center>
              <span>Period6</span>
            </ion-col>
            <ion-col class="tcol" text-center>
              <span>Period7 </span>
            </ion-col>

          </ion-row>

        <ion-scroll scrollY style="height:100%;">
<!--<ion-card-content>-->

  <ion-row class="trow"  nowrap *ngFor="let line of formData;let indexRow = index" (mousemove)="selectLine($event)">
  <ion-col class="tcol" text-start (click)="selectCell(indexRow,indexCol)">
  <span>{{ line["Desc ID"]  }}</span>
  </ion-col>
    <ion-col col-4 class="tcol" text-start (click)="selectCell(indexRow,indexCol)">
      <span>{{ line["Account Description"]  }}</span>
    </ion-col>
    <ion-col class="tcol" text-start (click)="selectCell(indexRow,indexCol)">
      <span>{{ line["PeriodPre2"]  }}</span>
    </ion-col>
    <ion-col class="tcol" text-start (click)="selectCell(indexRow,indexCol)">
      <span>{{ line["PeriodPre1"]  }}</span>
    </ion-col>
    <ion-col class="tcol" text-start (click)="selectCell(indexRow,indexCol)">
      <span>{{ line["Period1"]  }}</span>
    </ion-col>
    <ion-col class="tcol" text-start (click)="selectCell(indexRow,indexCol)">
      <span>{{ line["Period2"]  }}</span>
    </ion-col>
    <ion-col class="tcol" text-start (click)="selectCell(indexRow,indexCol)">
    <span>{{ line["Period3"]  }}</span>
  </ion-col>
    <ion-col class="tcol" text-start (click)="selectCell(indexRow,indexCol)">
      <span>{{ line["Period4"]  }}</span>
    </ion-col>
    <ion-col class="tcol" text-start (click)="selectCell(indexRow,indexCol)">
      <span>{{ line["Period5"]  }}</span>
    </ion-col>
    <ion-col class="tcol" text-start (click)="selectCell(indexRow,indexCol)">
      <span>{{ line["Period6"]  }}</span>
    </ion-col>
    <ion-col class="tcol" text-start (click)="selectCell(indexRow,indexCol)">
      <span>{{ line["Period7"]  }}</span>
    </ion-col>

  </ion-row>

<!--</ion-card-content>-->
        </ion-scroll>

      </ion-card>
    <!--</ion-col>-->

  <!--</ion-row>-->

</ion-grid>









