<ion-grid class="kpi-grid">
  <ion-row style="height: 100%;">
    <ion-col>
      <ion-card>
        <ion-card-header>
          ppp
        </ion-card-header>
<ion-card-content>
  <ion-row class="trow"  nowrap *ngFor="let line of data_total;let indexRow = index" (mousemove)="selectLine($event)">
  <ion-col class="tcol" text-start (click)="selectCell(indexRow,indexCol)">
  <span>{{ line["Account Description"]  }}</span>
  </ion-col>
    <ion-col class="tcol" text-start (click)="selectCell(indexRow,indexCol)">
      <span>{{ line["Account Description"]  }}</span>
    </ion-col>
    <ion-col class="tcol" text-start (click)="selectCell(indexRow,indexCol)">
      <span>{{ line["Account Description"]  }}</span>
    </ion-col>
  </ion-row>
</ion-card-content>

      </ion-card>
    </ion-col>

  </ion-row>

</ion-grid>









