<ion-header>
  <ion-navbar color="primary" >

    <ion-title style="margin-left: -60px" >Corporate Acquisition</ion-title>
    <ion-buttons end style="margin-right: 30px">
      <button ion-button  icon-only (click)="clickFileInput()">
          <ion-icon name="document"></ion-icon>
        <input #fileUpload id="selectedFile" type="file" (change)="fileChange($event)" ng2FileSelect
               [uploader]="uploader" multiple style="display: none;">
        <!--<input type="file" id="selectedFile" (change)="fileChange($event)"  accept=".pdf" style="display: none">-->
      </button>

    </ion-buttons>
    <ion-buttons end style="margin-right: 25px">
      <button ion-button  icon-only (click)="openPdf(task_info['infoFile'])">
        <ion-icon name="information-circle"></ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons end style="margin-right: 20px">
      <button ion-button icon-only  (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>

    </ion-buttons>
  </ion-navbar>
  <ion-toolbar >
    <ion-segment [(ngModel)]="tabs" item-start (ionChange)="onTabChange()"  >
      <ion-segment-button [value]="tab" *ngFor="let tab of parameters.tabs_value">
        {{ tab.toUpperCase()}}
      </ion-segment-button>

    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid >

    <ion-row>
      <ion-col col-2 offset-1 >
          <ion-label  style="margin-top:23px"><h5> Name :</h5></ion-label>
      </ion-col>
      <ion-col col-2 text-center>
        <ion-label  style="margin-top:23px"><h5> Niche :</h5></ion-label>
      </ion-col>
      <ion-col col-2 text-center>
        <ion-label  style="margin-top:23px"><h5> Development Cost :</h5></ion-label>
      </ion-col>
      <ion-col col-2 text-center>
        <ion-label  style="margin-top:23px"><h5>Minimum Bid :</h5></ion-label>
      </ion-col>
      <ion-col col-2 text-center>
        <ion-label  style="margin-top:23px"><h5>Selected to Bid:</h5></ion-label>
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col col-2  offset-1>
        <ion-label >{{ corporates[tabs].name }}</ion-label>
      </ion-col>
      <ion-col col-2 text-center>
        <ion-label  >{{ corporates[tabs].niche }}</ion-label>
      </ion-col>
      <ion-col col-2 text-center>
        <ion-label  >{{ corporates[tabs].developmentCost_text }}</ion-label>
      </ion-col>
      <ion-col col-2 text-center>
        <ion-label >{{ corporates[tabs].minimumBid_text }}</ion-label>
      </ion-col>
      <ion-col col-2 text-center>
        <ion-checkbox  [(ngModel)]="corporates[tabs].selected"  ></ion-checkbox>
      </ion-col>

    </ion-row>
    <ion-row>

      <ion-col col-5 offset-1>
        <ion-item>
          <ion-label color="primary" floating>Cash Offer </ion-label>
          <ion-input [(ngModel)]="offer.cash" type="number" step="1000000" (ionChange)="onChange()"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-5>
        <ion-item>
          <ion-label color="primary" floating># of Shares Offered</ion-label>
          <ion-input [(ngModel)]="offer.shares" type="number"  step="1000" (ionChange)="onChange()"></ion-input>
        </ion-item>
      </ion-col>

    </ion-row>
    <ion-row>
      <ion-col col-2 offset-1>
        <ion-label >Current Share Price: </ion-label>
      </ion-col>
      <ion-col col-3 text-center>
        <ion-label  >{{ offer.current_share_price }}</ion-label>
      </ion-col>
      <ion-col col-2 text-center>
        <ion-label  >Treasury Shares in Hand:</ion-label>
      </ion-col>
      <ion-col col-3 text-center>
        <ion-label >{{ offer.treasury_shares }}</ion-label>
      </ion-col>


    </ion-row>
    <ion-row>

      <ion-col col-2 offset-1>
        <ion-label  ><h5>Offer Value:</h5></ion-label>
      </ion-col>
      <ion-col col-5 text-center>
        <ion-label><h5>{{ offer.total }}</h5></ion-label>
      </ion-col>


    </ion-row>

    <ion-row>

      <ion-col col-2 offset-1>
        <ion-label  ><h5> Time Left :</h5></ion-label>
      </ion-col>
      <ion-col col-5 text-center>
        <ion-label ><h5>{{ stop_watch }}</h5></ion-label>
      </ion-col>


    </ion-row>

  </ion-grid>




</ion-content>
<ion-footer>
  <ion-buttons style="margin-right: 90px;margin-bottom: 6px" end>
    <button ion-button color="primary" (click)="submit()">Submit</button>
  </ion-buttons>
</ion-footer>
