<ion-grid class="kpi-grid">
  <ion-row style="height: 50%;">
    <ion-col col-6 >
      <ion-card>
        <ion-card-header>
          Hired Employees5555
        </ion-card-header>

        <ion-row class="trow"  nowrap>
          <ion-col class="tcol" text-center  >
            <span>Employee Name</span>
          </ion-col>
          <ion-col class="tcol" text-center >
            <span>Title</span>
          </ion-col>
          <ion-col class="tcol" text-center>
            <span>Salary Offered</span>
          </ion-col>
        </ion-row>
        <ion-scroll scrollY style="height:100%;">
        <ion-row class="trow"  nowrap *ngFor="let line of hiredEmployees;let indexRow = index" (mousemove)="selectLine($event)">
          <ion-col class="tcol" text-center  (click)="selectCell(indexRow,indexCol)">
            <span>{{ line.employeeName  }}</span>
          </ion-col>
          <ion-col class="tcol" text-center  (click)="selectCell(indexRow,indexCol)">
            <span>{{ line.title  }}</span>
          </ion-col>
          <ion-col class="tcol" text-center  (click)="selectCell(indexRow,indexCol)">
            <span>{{ line.HiredBy.salaryOffer }}</span>
          </ion-col>
        </ion-row>
        </ion-scroll>
      </ion-card>
    </ion-col>
    <ion-col col-6>
      <ion-card>
        <ion-card-header>
          Workforce
        </ion-card-header>
        <ion-row class="trow"  nowrap>
          <ion-col class="tcol" text-center>
            <span>Functions</span>
          </ion-col>
          <ion-col class="tcol" text-center>
            <span>Total</span>
          </ion-col>
          <ion-col class="tcol" text-center>
            <span>Core</span>
          </ion-col>
          <ion-col class="tcol" text-center>
            <span>Contract</span>
          </ion-col>
        </ion-row>
        <ion-scroll scrollY style="height:100%;">
        <ion-row class="trow"  nowrap *ngFor="let line of workforce;let indexRow = index" (mousemove)="selectLine($event)">
          <ion-col class="tcol" text-center  (click)="selectCell(indexRow,indexCol)">
            <span>{{ line.functions  }}</span>
          </ion-col>
          <ion-col class="tcol" text-center  (click)="selectCell(indexRow,indexCol)">
            <span>{{ line.adjustedworkforce_total  }}</span>
          </ion-col>
          <ion-col class="tcol" text-center  (click)="selectCell(indexRow,indexCol)">
            <span>{{ line.adjustedworkforce_core }}</span>
          </ion-col>
          <ion-col class="tcol" text-center  (click)="selectCell(indexRow,indexCol)">
            <span>{{ line.adjustedworkforce_contract }}</span>
          </ion-col>
        </ion-row></ion-scroll>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row style="height: 50%;">
    <ion-col col-6>
      <ion-card>
        <ion-card-header>
          Actions
        </ion-card-header>
        <ion-row class="trow"  >
          <ion-col col-6 class="tcol" text-center  >
            <span>Name </span>
          </ion-col>
          <ion-col class="tcol" text-center >
            <span>Adaptability</span>
          </ion-col>
          <ion-col class="tcol" text-center>
            <span>Competence</span>
          </ion-col>
          <ion-col class="tcol" text-center>
            <span>Stress</span>
          </ion-col>
        </ion-row>
        <ion-scroll scrollY style="height:100%;">
        <ion-row class="trow" nowrap *ngFor="let line of actions;let indexRow = index" (mousemove)="selectLine($event)">
          <ion-col col-6 class="tcol" (click)="selectCell(indexRow,indexCol)">
            <ion-scroll scrollX="true" style="height:100%;width: 100%">
          <span>{{ line.action.actionName  }}</span>
            </ion-scroll>
          </ion-col>
          <ion-col class="tcol" text-center (click)="selectCell(indexRow,indexCol)">
            <span>{{ line.action.adaptabilityIndex  }}</span>
          </ion-col>
          <ion-col class="tcol" text-center (click)="selectCell(indexRow,indexCol)">
            <span>{{ line.action.competenceIndex }}</span>
          </ion-col>
          <ion-col class="tcol" text-center (click)="selectCell(indexRow,indexCol)">
            <span>{{ line.action.stressIndex }}</span>
          </ion-col>
        </ion-row>
        </ion-scroll>
      </ion-card>
    </ion-col>
    <ion-col col-6>
      <ion-card>
        <ion-card-header>
          Resources
        </ion-card-header>

        <ion-row class="trow"  nowrap>
          <ion-col class="tcol" text-center  >
            <span>Type</span>
          </ion-col>
          <ion-col class="tcol" text-center  >
            <span>Name</span>
          </ion-col>
          <ion-col class="tcol" text-center >
            <span>Legitimacy</span>
          </ion-col>
          <ion-col class="tcol" text-center>
            <span>$MPP</span>
          </ion-col>
        </ion-row>
        <ion-scroll scrollY style="height:100%;">
        <ion-row class="trow"  nowrap *ngFor="let line of resources;let indexRow = index" (mousemove)="selectLine($event)">
          <ion-col class="tcol" text-center  (click)="selectCell(indexRow,indexCol)">
            <span>{{ line.resource.resourceType  }}</span>
          </ion-col>
          <ion-col class="tcol" text-center  (click)="selectCell(indexRow,indexCol)">
            <span>{{ line.resource.resourceName  }}</span>
          </ion-col>
          <ion-col class="tcol" text-center  (click)="selectCell(indexRow,indexCol)">
            <span>{{ line.resource.legitimacy }}</span>
          </ion-col>
          <ion-col class="tcol" text-center  (click)="selectCell(indexRow,indexCol)">
            <span>{{ line.resource.cost }}</span>
          </ion-col>
        </ion-row></ion-scroll>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>









